$my-first-red: #FA225B;
$my-shadow-red: #fa225cb1;
$my-first-white: #FFFFFF;
$my-second-white: #eaeaea;
$my-first-lille: #7A89AB;
$my-first-green: #87C856;
$my-first-neavy: #1D2028;
$my-second-neavy: rgb(33, 35, 44);
